/**
 * Inputs
 * 
 */

.inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.inputs .input:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.inputs.no-margin .input {
  margin-bottom: 0;
}


.input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.input,
.input input,
.input textarea,
.input select,
.input .input-preview {
  max-width: 500px;
}

.input.input-small,
.input.input-small input,
.input.input-small textarea,
.input.input-small select,
.input.input-small .input-preview {
  width: 125px;
}

.input.input-date,
.input.input-date input,
.input.input-midmid .input-preview {
  width: 145px;
}

.input.input-midmid,
.input.input-midmid input,
.input.input-midmid textarea,
.input.input-midmid select,
.input.input-midmid .input-preview {
  width: 175px;
}

.input.input-medium,
.input.input-medium input,
.input.input-medium textarea,
.input.input-medium select,
.input.input-medium .input-preview {
  width: 200px;
}

.input.input-big,
.input.input-big input,
.input.input-big textarea,
.input.input-big select,
.input.input-big .input-preview {
  width: 300px;
}

.input.input-monster,
.input.input-monster input,
.input.input-monster textarea,
.input.input-monster select,
.input.input-monster .input-preview {
  width: 500px;
}

.input.input-tinymce {
  max-width: none;
  width: 750px;
}

.input.input-tinymce label {
  margin-bottom: 5px;
}


.input label {
  color: rgba(0, 0, 0, 0.9);
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.input input {
  padding: 4px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  background-color: transparent;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

.input [type=checkbox],
.input [type=radio] {
  padding: inherit;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.input input:focus {
  outline: none;
  border-bottom-width: 2px;
}

.input textarea {
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.input textarea:focus {
  outline: none;
  border-bottom-width: 2px;
}

.input select {
  padding: 5px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #DDDDDD;
  background-color: transparent;
}

.input select:focus {
  outline: none;
  border-bottom-width: 2px;
}

.input .input-preview {
  min-height: 22px;
  margin: 0 0 8px 8px;
}

.input-radio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input-radio-title {
  margin: 0 5px;
}

.multi-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.multi-input .input:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.input-title {
  font-size: 16px;
  font-weight: 500;
}

.input-description {
  margin: 5px 0;
  font-size: 14px;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .input-with-mate {
    float: left;
  }

  .input-mate {
    padding-left: 10px;
    padding-bottom: 2px;
  }
}


.input-widget {
  display: block;
  position: relative;
  background-color: #fff;
}

.input-widget-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.input-widget-header::after {
  content: '';
  display: none;
  position: relative;
  width: 100%;
  height: 2px;
}

.input-widget-content {
  display: flex;
  position: relative;
  width: 100%;
}

.input-widget-title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}



.input-widget-picture {
  width: 300px;
}

.input-widget-picture .input-widget-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.input-picture-thumbnail {
  cursor: pointer;
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
}

.input-picture-message {
  margin: 0 20px;
  color: #464646;
  font-size: 14px;
  text-align: center;
}



.input-widget-category {
  width: 300px;
}

.input-widget-category .input-widget-content {
  display: block;
  position: relative;
}

.input-widget-category .input-widget-content > ul {
  max-height: 235px;
  overflow-y: scroll;
}

.input-widget-category .input-category {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 1px 0;
}

.input-widget-category .input-category input {
  margin: 0;
}

.input-widget-category .input-category label {
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  text-transform: none;
}

.input-widget-category ul {
  padding: 5px 0;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.input-widget-category li {
  width: 100%;
  margin-bottom: 3px;
}

.input-widget-category li ul::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.input-widget-category li ul {
  position: relative;
  padding: 5px 0;
  width: 100%;
  margin: 5px 0;
}

.input-widget-category li .input-category,
.input-widget-category .level-1 .input-category {
  margin-left: 10px;
}

.input-widget-category .level-2 .input-category {
  margin-left: 15px;
}

.input-widget-category .level-3 .input-category {
  margin-left: 20px;
}

.input-widget-category .level-4 .input-category {
  margin-left: 25px;
}

.input-widget-category .level-5 .input-category {
  margin-left: 30px;
}

.input-widget-category .level-6 .input-category {
  margin-left: 35px;
}

.input-widget-category .level-7 .input-category {
  margin-left: 40px;
}

.input-widget-category .level-8 .input-category {
  margin-left: 45px;
}

.new-category {
  position: relative;
  padding: 10px;
  width: calc(100% - 40px);
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.new-category .input,
.new-category input {
  width: 100%;
}

.new-category .content {
  display: block;
  position: relative;
}

.new-category .content > input {
  width: 100%;
}

.new-category .btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 4px 6px;
  width: calc(100% - 12px);
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.new-category .btn:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.new-category .icon {
  display: block;
  position: relative;
  width: auto;
  height: 10px;
}

.new-category .icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.new-category .icon svg * {
  fill: #464646;
}




.input-widget-files {
  width: 300px;
}

.input-widget-files .input-widget-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.input-widget-files .item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
}

.input-widget-files .item-left {
  display: flex;
  flex-flow: row nowrap;
}

.input-widget-files .item-right {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 10px;
}

.input-widget-files .file-thumbnail {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
}

.input-widget-files .file-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 150px;
}

.input-widget-files .file-name {
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-widget-files .file-size {
  font-size: 11px;
  font-weight: 600;
}

.input-widget-files .btn {
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.input-widget-files .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}





.input input[type=checkbox],
input[type=checkbox] {
  width: 1em;
  height: 1em;
  font: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: .125em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.125em solid #9E9E9E;
  -webkit-box-shadow: inset 0 0 0 0 #009688;
  box-shadow: inset 0 0 0 0 #009688;
  position: relative;
  -webkit-transition: border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s;
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}
.input input[type=checkbox]:focus,
input[type=checkbox]:focus {
  outline: none;
}
.input input[type=checkbox]:active,
input[type=checkbox]:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.input input[type=checkbox]:checked,
.input input[type=checkbox]:indeterminate,
input[type=checkbox]:checked,
input[type=checkbox]:indeterminate {
  border-color: #009688;
  -webkit-box-shadow: inset 0 0 0 0.5em #009688;
  box-shadow: inset 0 0 0 0.5em #009688;
  -webkit-transition: border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s;
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}
.input input[type=checkbox]:before,
.input input[type=checkbox]:after,
input[type=checkbox]:before,
input[type=checkbox]:after {
  content: '';
  background: #fff;
  height: 1em;
  width: 1em;
  position: absolute;
  -webkit-transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
  transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  top: -0.125em;
  left: -0.125em;
}
.input input[type=checkbox]:after,
input[type=checkbox]:after {
  -webkit-transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
  transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
}
.input input[type=checkbox]:not(:checked):before,
input[type=checkbox]:not(:checked):before {
  -webkit-transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
  transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
  /* opacity: 0; */
}
.input input[type=checkbox]:not(:checked):after,
input[type=checkbox]:not(:checked):after {
  -webkit-transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
  transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
  /* opacity: 0; */
}
.input input[type=checkbox]:indeterminate:before,
input[type=checkbox]:indeterminate:before {
  -webkit-transform: translate(0.25em, 0.45em) rotate(0deg) scale(0.5, 0.1);
  transform: translate(0.25em, 0.45em) rotate(0deg) scale(0.5, 0.1);
}
.input input[type=checkbox]:indeterminate:after,
input[type=checkbox]:indeterminate:after {
  -webkit-transform: translate(0.75em, 0.55em) rotate(180deg) scale(0.5, 0.1);
  transform: translate(0.75em, 0.55em) rotate(180deg) scale(0.5, 0.1);
}
