/*
* Buttons
*
*/

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;
	transition: all 160ms ease-in;
	-webkit-transition: all 160ms ease-in;
}

.btn:hover {
	text-decoration: none;
}

/**
 * Sizes
 * 
 */

.btn.btn-small {
	padding: 5px 10px 5px 10px;
}

.btn.btn-medium {
	padding: 10px 18px 10px 18px;
}

.btn.btn-wide {
	padding: 10px 25px 10px 25px;
}

.btn.btn-primary {
	padding: 2px 6px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.80);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.06em;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
	color: #fff;
	background-color: #000;
}

.btn.btn-secondary {
	padding: 4px 8px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.80);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
}

.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
	color: #fff;
	background-color: #000;
}


.btn.btn-beta {}

.btn-beta:focus,
.btn.btn-beta:hover {}