/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #FFF;
  font-family: 'Neo Sans Pro', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */



/* Social Icons - Início
/* ******************************************** */

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #FFF;
}

.social-icons .social-icon:hover svg * {
  fill: #000;
}

/* Social Icons - Fim
/* ******************************************** */



/* Header - Início
/* ******************************************** */


.header::before {
  content: '';
  display: none;
  position: absolute;
  top: -15px;
  left: -20px;
  width: 125px;
  height: 200px;
  background-color: rgba(0, 0, 0, 1.0);
  transform: rotate(12deg);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 700;
}

/* Header - Fim
/* ******************************************** */


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-left: 25px;
}

.navbar-center {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 25px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 65px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar-menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  list-style-type: none;
}

.navbar-menu.is-open {
  display: flex;
}

.navbar-menu li {
  margin: 10px 0;
}

.navbar-menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  transition: all 160ms ease-out;
  z-index: -1;
}

.navbar-menu a {
  position: relative;
  padding: 8px 12px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 160ms ease-out;
}

.navbar-menu a:focus::before,
.navbar-menu a:hover::before {
    top: 0;
}

.navbar-menu a:focus,
.navbar-menu a:hover {
  color: #000;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .navbar-logo {
    height: 85px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar-logo {
    height: 100px;
  }

  .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: inherit;
    left: inherit;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .navbar-menu li {
    margin: 0;
  }

  .navbar-menu a {
    font-size: 16px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .navbar { width: 1350px;  }
}

/* Navbar - Fim
/* ******************************************** */


/* Hamburger Icon - Início
/* ******************************************** */

.hamburger {
  outline: none;
  margin-top: 7px;
}

.hamburger.is-active {}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hamburger {
    display: none;
  }
}

/* Hamburger Icon - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.section-wrapper.with-sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.section-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 20px;
}

.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .section-wrapper { width: 1350px; }
}

/* Section - Fim
/* ******************************************** */


/* Grid - Início
/* ******************************************** */

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* Grid - Fim
/* ******************************************** */


/* Breadcrumbs - Início
/* ******************************************** */

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 5px 10px;
  background-color: transparent;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  color: #fff;
  font-family: 'Neo Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.breadcrumbs-item:not(:nth-last-child(1)) {
  margin: 0 20px 0 0;
}

.breadcrumbs-item::after {
  content: '\00BB';
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  width: auto;
  height: auto;
}

.breadcrumbs-item:nth-last-child(1)::after {
  display: none;
}

.breadcrumbs-item.active {
  font-weight: 600;
}

/* Breadcrumbs - Fim
/* ******************************************** */  


/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1.0);
  background-size: cover;
  background-position: center center;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.hero-slides {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.tns-outer {
  z-index: 1;
}

.tns-nav,
.tns-controls {
  z-index: 1;
}

.tns-controls {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 0 30px;
  width: calc(100% - 60px);
  height: calc(100% - 50px);
}

.tns-controls:focus {
  outline: none;
}

.tns-controls button {
  padding: 0;
  height: 100px;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearence: none;
}

.tns-controls svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.tns-controls [data-controls="prev"] {}
.tns-controls [data-controls="next"] {}

.tns-nav {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.tns-nav button {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
}

.tns-nav button:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.tns-nav .tns-nav-active {
  background-color: rgba(255, 255, 255, 0.75);
}


/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .tns-controls {
    display: flex;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .tns-controls button {
    height: 125px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .tns-controls button {
    height: 145px;
  }
}


.hero-slide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.hero-titles::before {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  width: 10%;
  height: 4px;
  background-color: #FCC633;
}

.hero-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 50px;
  z-index: 400;
}

.hero-titles p {
  padding: 5px 0;
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.hero-pretitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
}

.hero-unidade {
  padding: 50px 0;
  height: auto;
}

.hero-unidade .hero-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
}

.hero-unidade::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 174, 0, 0.75);
}

.hero-unidade .hero-left {
  display: block;
  position: static;
  width: 100%;
}

.hero-unidade .hero-right {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
}

.hero-unidade .hero-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 50px 20px 0 20px;
  width: calc(100% - 40px);
  height: auto;
}

.hero-unidade .unidade-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-top: 80px;
}

.hero-unidade .unidade-titles::after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80%;
  height: 5px;
  font-size: 0px;
  line-height: 0%;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}

.hero-unidade .unidade-hat {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-unidade .unidade-title {
  margin: 0;
  color: #fff;
  font-family: 'Futura LT', sans-serif;
  font-size: 42px;
  font-weight: 700;
}

.hero-unidade .unidade-endereco {
  margin-top: 25px;
}

.hero-unidade .unidade-endereco .unidade-hat {
  margin-bottom: 10px;
}

.hero-unidade .unidade-endereco .unidade-title {
  font-size: 18px;
  font-weight: 400;
}

.hero-unidade .unidade-horarios {
  margin-top: 30px;
}

.hero-unidade .unidade-horarios table {
  margin-top: 15px;
}

.hero-unidade .unidade-horarios td {
  position: relative;
}

.hero-unidade .unidade-horarios td:not(:nth-last-child(1))::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  right: 10px;
  width: 1px;
  height: calc(100% + 5px);
  background-color: #fff;
}

.hero-unidade .unidade-horarios thead td {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-unidade .unidade-horarios thead td:not(:nth-last-child(1)) {
  padding-right: 20px;
}

.hero-unidade .unidade-horarios tbody td {
  padding: 8px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-unidade .unidade-contato {
  margin-top: 20px;
}

.hero-unidade .unidade-contato .unidade-hat {
  margin-bottom: 10px;
}

.hero-unidade .unidade-contato .unidade-title {
  font-size: 16px;
  font-weight: 400;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .hero-pretitle {
    font-size: 20px;
  }

  .hero-title {
    font-size: 38px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .hero-pretitle {
    font-size: 26px;
  }
  
  .hero-title {
    font-size: 54px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hero-pretitle {
    font-size: 30px;
  }
  
  .hero-title {
    font-size: 66px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .hero-pretitle {
    font-size: 34px;
  }
  
  .hero-title {
    font-size: 76px;
  }

  .hero-unidade {
    padding: 0;
    height: 100vh;
  }

  .hero-unidade .hero-wrapper {
    flex-flow: row nowrap;
  }

  .hero-unidade::before {
    width: calc(50% + 100px);
    transform: skew(-14deg) translateX(-140px);
  }

  .hero-unidade .hero-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(50% + 160px);
    height: 100%;
  }

  .hero-unidade .hero-content {
    margin-top: 15px;
  }

  .hero-unidade .unidade-hat {
    font-size: 16px;
  }

  .hero-unidade .unidade-title {
    font-size: 58px;
  }

  .hero-unidade .unidade-endereco .unidade-title {
    font-size: 24px;
  }

  .hero-unidade .unidade-horarios tbody td {
    font-size: 16px;
  }
}

/* LARGE SCREEN (>1350px) */
@media only screen and (min-width: 1350px) {
  .hero-wrapper { width: 1350px; }
}



/* Hero - Fim
/* ******************************************** */


/* Page Header - Início
/* ******************************************** */

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.page-header .page-header-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-header .page-header-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page-header .page-header-left,
.page-header .page-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 100%;
}

.page-header .page-header-left {
  justify-content: flex-start;
}

.page-header .page-header-right {
  justify-content: flex-end;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .page-header .page-header-wrapper {
    width: 900px;
  }
}

/* Page Header - Fim
/* ******************************************** */


/* Page Header Alpha - Início
/* ******************************************** */

.page-header-alpha {
  width: 100%;
  height: 300px;
  background-color: #000;
}

.page-header-alpha .page-header-overlay {

background: rgba(0,0,0,0.2);
background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 47%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.72) 67%, rgba(0,0,0,0.93) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(47%, rgba(0,0,0,0.2)), color-stop(50%, rgba(0,0,0,0.2)), color-stop(67%, rgba(0,0,0,0.72)), color-stop(100%, rgba(0,0,0,0.93)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 47%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.72) 67%, rgba(0,0,0,0.93) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 47%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.72) 67%, rgba(0,0,0,0.93) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 47%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.72) 67%, rgba(0,0,0,0.93) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 47%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.72) 67%, rgba(0,0,0,0.93) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  /*background-color: rgba(243, 174, 0, 0.75);*/
}

.page-header-alpha .page-header-wrapper {
  justify-content: flex-end;
  align-items: center;
}

.page-header-alpha .header-title {
  padding: 0;
  margin: 25px 0 10px 0;
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
  font-size: 28px;
  font-family: 'Neo Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  text-shadow: -4px 4px rgba(0, 0, 0, 0.15);
}

.page-header-alpha .breadcrumbs {
  margin-bottom: 35px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .page-header-alpha .header-title {
    font-size: 34px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .page-header-alpha .header-title {
    font-size: 38px;
    line-height: 42px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .page-header-alpha .header-title {
    max-width: 600px;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .page-header-alpha {
    height: 350px;
  }

  .page-header-alpha .header-title {
    font-size: 42px;
    line-height: initial;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .page-header-alpha {
    height: 400px;
  }
  
  .page-header-alpha .header-title {
    max-width: none;
    font-size: 64px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
}

/* Page Header Alpha - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 2200px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
}

  .section-row.small-pad {
    padding: 25px 15px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }

.section-map iframe {
  width: 100%;
  height: 500px;
}

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #464646;
}

.row-title.bold { font-weight: 700; }

.row-subtitle {
  font-size: 21px;
  text-align: center;
  margin: 0 auto;
  color: #848484;
  font-weight: 400;
}

.row-subtitle.bold { font-weight: 700; }

.row-subtitle a {
  color: #848484;
  text-align: center;
  text-decoration: none;
}

.row-subtitle a:focus,
.row-subtitle a:hover {
  text-decoration: underline;
}

.row-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .row-subtitle {
    margin: 0;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-row.small-pad {
    padding: 50px 20px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 26px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
      width: 980px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 28px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-row {
    width: 1300px;
  }

  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}

/* Section - Fim
/* ******************************************** */

.section-two {
  background-color: #fff;
}

.section-two .section-row {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.column-titles::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  width: 75px;
  height: 3px;
  background-color: #FCC633;
}

.column-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 625px;
  margin: 50px 0;
}

.column-title {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.column-subtitle {
  margin: 10px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.column-text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #464646;
}

.column-lateral-image {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
}



/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .column-title {
    font-size: 32px;
  }

  .column-subtitle {
    font-size: 22px;
  }

  .column-text {
    font-size: 18px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .column-title {
    font-size: 54px;
  }

  .column-subtitle {
    font-size: 28px;
  }

  .column-text {
    font-size: 20px;
  }

  .column-lateral-image {
    height: 300px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-two .section-row {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .section-column {
    width: auto;
  }

  .column-titles {
    margin: 80px 25px 80px 0;
  }

  .column-title {
    font-size: 42px;
  }

  .column-subtitle {
    font-size: 24px;
  }

  .column-text {
    font-size: 18px;
  }

  .column-lateral-image {
    width: 475px;
    height: 490px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .column-title {
    font-size: 46px;
  }

  .column-subtitle {
    font-size: 28px;
  }

  .column-text {
    font-size: 20px;
  }

  .column-lateral-image {
    width: 625px;
    height: 490px;
  }
}



.section-three {
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.section-three .section-row {
  justify-content: flex-start;
  align-items: flex-start;
}

.section-three .row-titles {
  width: auto;
  margin: 0;
  margin-bottom: 20px;
}

.section-three .row-title {
  margin: 20px 0 40px 0;
  color: #fff;
  font-family: 'Futura LT', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-three .flickity-viewport {
  width: 100%;
}

.section-three .flickity-button {
  display: block;
  background-color: transparent;
}

.section-three .flickity-button[disabled] {
  opacity: 0;
}

.section-three .flickity-prev-next-button {
  width: 50px;
  height: 150px;
  border-radius: 0;
}

.section-three .flickity-button-icon {
  display: block;
  position: absolute;
  top: 0;
  left: -50px;
  width: auto;
  height: 100%;
  fill: #fff;
}

.section-three .flickity-prev-next-button.previous {
  left: -70px;
}

.section-three .flickity-prev-next-button.next {
  right: -70px;
}



/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-three .row-title {
    font-size: 54px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-three .row-title {
    font-size: 72px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}






.section-four {
  background-color: #fff;
}

.section-four .section-row {
  justify-content: flex-start;
  align-items: flex-start;
}

.section-four .row-titles::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  width: 75px;
  height: 3px;
  background-color: #FCC633;
}

.section-four .row-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 625px;
  margin: 0;
}

.section-four .row-title {
  margin: 10px 0;
  font-size: 42px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}



/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-four .row-title {
    font-size: 36px;
  }

  .section-four .row-subtitle {
    font-size: 26px;
  }

  .section-four .row-text {
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-four .row-title {
    font-size: 36px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-four .row-title {
    font-size: 54px;
  }
}


.section-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 25px;
  width: 100%;
  position: relative;
}

.section-card-one {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 350px;
  margin-right: 25px;
  background-color: #fff;
  flex-shrink: 0;
  /*box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.15);*/ 
}

/*.section-card-one:not(:nth-last-child(1)) {
  margin-right: 25px;
}*/

.section-card-one .card-picture {
  display: block;
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center center;
  filter: grayscale(0.6);
}

.section-card-one .card-picture::after {
  content: '';
  display: none;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-card-one .card-title {
  display: block;
  width: auto;
  padding: 15px;
  margin: 0;
  background-color: #fff;
  color: #333333;
  font-family: 'Futura LT', sans-serif;
  font-size: 24px;
  font-weight: 700;
  z-index: 1;
}

.section-card-one .card-info {
  padding: 0 15px;
}

.section-card-one .card-info label {
  color: #464646;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-card-one .card-info p {
  margin: 2px 0 0 0;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
}

.section-card-one .btn {
  padding: 7px 10px 5px 10px;
  margin: 20px 15px 15px 15px;
  background-color: #333333;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

.section-card-one .btn:hover {
  background-color: #000;
}





.section-contato {}

.section-contato .section-row {
  justify-content: flex-start;
  align-items: flex-start;
}

.section-contato form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.section-contato .inputs,
.section-contato .multi-input,
.section-contato .input {
  width: 100%;
  max-width: none;
}

.section-contato .multi-input {
  flex-flow: column nowrap;
}

.section-contato .multi-input .input {
  width: calc(100% - 20px);
}

.section-contato .input {
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.025);
}

.section-contato .input:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.section-contato .input label {
  color: rgba(0, 0, 0, 0.35);
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}

.section-contato .input input,
.section-contato .input select,
.section-contato .input textarea {
  width: 100%;
  max-width: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.section-contato .input select:invalid {
  color: rgba(0, 0, 0, 0.3);
}

.section-contato .input input {
  border-radius: 2px;
  border: none;
}

.section-contato .input textarea {
  width: calc(100%);
  min-height: 200px;
  background-color: transparent;
  border-radius: 2px;
  border: none;
}

.section-contato .input ::placeholder {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}

.section-contato .btn-submit {
  padding: 15px 30px;
  margin: 50px 0;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 600;
  background-color: #FCC633;
  outline: none;
}

.section-contato .btn-submit:focus,
.section-contato .btn-submit:hover {
  background-color: #FFB61C;
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-contato form {
    width: 750px;
  }

  .section-contato .input {
    padding: 20px;
    width: calc(100% - 40px);
  }

  .section-contato .input label {
    font-size: 16px;
  }

  .section-contato .input input,
  .section-contato .input select,
  .section-contato .input textarea {
    font-size: 22px;
  }

  .section-contato .btn-submit {
    font-size: 22px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-contato .multi-input {
    flex-flow: row nowrap;
  }

  .section-contato .multi-input .input {
    width: 50%;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}






/* Text Content - Início
/* ******************************************** */

.text-content {
  margin: 25px 0;
}

.text-content p {
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  color: rgba(0,0,0,.84);
  font-family: 'Neo Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.text-content.center p {
  margin: 0 auto;
}

.text-content .text-title {
  margin: 50px 0 25px 0;
  font-size: 26px;
  font-weight: 700;
}

.text-content.center .text-title {
  margin: 50px auto 25px auto;
}

.text-content ul {
  max-width: 800px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.text-content li {
  padding-bottom: 20px;
  color: rgba(0,0,0,.84);
  font-family: 'Neo Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;

}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .text-content {
    width: 950px;
    margin: 50px auto;
  }

  .text-content.center {
    width: auto;
    margin: 50px 0;
  }

  .text-content li,
  .text-content p {
    font-size: 21px;
    line-height: 38px;
  }

  .text-content .text-title {
    font-size: 36px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* Text Content - Fim
/* ******************************************** */



.gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery figure {
  margin: 0;
  margin-bottom: 20px;
  width: 240px;
  transition: transform 160ms ease;
  flex-shrink: 0;
}

.gallery figure:focus,
.gallery figure:hover {
  transform: scale(1.05);
}

.gallery figure:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.gallery img {
  width: 100%;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}









/* Section Modifiers - Fim
/* ******************************************** */

.section.orange {
  background-color: #fd8601;
}

.section.orange .row-titles {
  margin-bottom: 0;
}

.section.orange .row-title {
  color: #fff;
  font-weight: 700;
}

.section.orange .row-subtitle {
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}

.section.orange .row-text {
  color: #fff;
}

/* Section Modifiers - Fim
/* ******************************************** */




/* Footer - Início
/* ******************************************** */

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #000;
}

.footer-sections {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.footer-map {
  width: 100%;
  height: 400px;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.footer-content-left {
  order: 2;
}

.footer-content-right {
  order: 1;
}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-logo {
  display: block;
  position: relative;
  width: auto;
  height: 100px;
}

.footer-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.footer .footer-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 25px 0;
}

.footer .footer-info a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-info a:hover {
  text-decoration: underline;
}

.footer .footer-info-title {
  margin: 2px 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer .footer-info-text {
  margin: 2px 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer .footer-info-text .bold {
  font-weight: 500;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    width: auto;
  }

  .footer-content-left {
    order: initial;
  }

  .footer-content-right {
    order: initial;
  }

  .footer .footer-info {
    align-items: flex-end;
    margin: 0;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-content {
    padding: 50px 20px;
    max-width: 1350px;
  }
}

/* Footer - Fim
/* ******************************************** */










/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}



/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
