body {
  position: relative;
  background-color: rgb(242, 242, 247);
  font-family: 'univia-pro', sans-serif;
}

.app {
  display: block;
  position: relative;
  min-height: 100vh;
}

.transition-group {
  flex: 1;
  position: relative;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fade-enter .page {
  opacity: 0;
  z-index: 10;
}

.fade-enter.fade-enter-active .page {
  opacity: 1;
  transition: opacity 140ms ease-in;
}

.fade-exit .page {}

.fade-exit-active .page {
  opacity: 0;
  transition: opacity 140ms ease-in;
}


/* Dev - Início
/* ******************************************** */

.dev {
  max-width: 1200px;
  margin: 0 auto;
}

.dev-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
}

.dev-buttons .btn:not(:last-child) {
  margin-right: 20px;
}

/* Dev - Fim
/* ******************************************** */


/* SVG - Início
/* ******************************************** */

  .svg {
    display: block;
    position: relative;
    width: auto;
    height: auto;
  }

  .svg svg {
    display: block;
    width: auto;
    height: 100%;
  }

/* SVG - Fim
/* ******************************************** */


/* React Modal - Início
/* ******************************************** */

  .react-modal-overlay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .react-modal {
    display: block;
    min-width: 400px;
    border-radius: 4px;
    border: 1px solid #f8f9fe;
    margin: 0 auto;
    outline: none;
    -webkit-overflow-scrolling: touch;
    background: rgb(242,242,247);
  }

/* React Modal - Fim
/* ******************************************** */

/* Modal - Início
/* ******************************************** */

  .modal-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 50px 20px 20px;
    width: calc(100% - 40px);
  }

  .modal-header-left,
  .modal-header-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .modal-header-left {
    justify-content: flex-start;
  }

  .modal-header-right {
    justify-content: flex-end;
  }

  .modal-titles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .modal-hat {
    margin-bottom: 5px;
    color: #898989;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .modal-title {
    color: #464646;
    font-size: 22px;
    font-weight: 400;
  }

  .modal .btn-close {
    padding: 6px;
  }

  .modal .btn-close .icon {
    padding: 0;
    height: 15px;
  }

  .modal-content {
    display: block;
    position: relative;
    padding: 10px 20px 20px 20px;
    width: calc(100% - 40px);
  }

/* Modal - Fim
/* ******************************************** */


/* Spinner - Início
/* ******************************************** */

  .spinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgba(250,110,60,1);
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    margin: 100px;
  }

  @-webkit-keyframes spinner {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Spinner - Fim
/* ******************************************** */


/* Default Layout - Início
/* ******************************************** */

.default-layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

/* Default Layout - Fim
/* ******************************************** */


/* Sidebar - Início
/* ******************************************** */

.sidebar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 225px;
  height: 100vh;
  /*border-right: 6px solid #272727;*/
  background-color: #1b1b1b;
  flex-shrink: 0;
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.sidebar-separator {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90px;
  margin-bottom: 50px;
  flex-shrink: 0;
  outline: none;
}

.sidebar-logo svg {
  display: block;
  position: relative;
  height: 60px;
}

.sidebar-label {
  padding: 6px 16px;
  width: calc(100% - 32px);
  color: #d6d6d6;
  font-size: 13px;
  font-weight: 700;
}

.sidebar-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.sidebar-menu-item {
  display: block;
  position: relative;
  width: 100%;
}

.sidebar-menu-item a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 14px 16px;
  width: calc(100% - 32px);
  color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar-menu-item:first-child a {}

.sidebar-menu-item a::after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  background-color: #fcc633;
}

.sidebar-menu-item a:hover {
  background-color: #272727;
  text-decoration: none;
}

.sidebar-menu-item.active a {
  background-color: #272727;
}

.sidebar-menu-item.active a::after {
  display: block;
}

.sidebar-menu-icon {
  display: block;
  position: relative;
  max-width: 20px;
  height: 16px;
  margin-right: 8px;
}

.sidebar-menu-icon svg {
  display: block;
  position: relative;
  height: 100%;
}

.sidebar-menu-icon svg * {
  fill: #fff;
}

.sidebar-search::before {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: -20px;
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.25);
}

.sidebar-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: 30px;
  margin-top: 0;
}

.sidebar-search:hover input {
  background-color: rgba(0, 0, 0, 0.025);
}

.sidebar-search input {
  display: block;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  transition: all 160ms ease-out;
}

.sidebar-search input:focus {
  border-bottom-width: 2px;
}

.sidebar-search input::placeholder {
  font-weight: 300;
}

.sidebar-search .icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 12px;
  width: 15px;
  height: 15px;
}

.sidebar-search .icon svg * {
  fill: rgba(0, 0, 0, 0.5 );
}

.sidebar-user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px 20px;
  width: calc(100% - 40px);
  background-color: #272727;
}

.sidebar-user-info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
}

.sidebar-user-name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-user-link {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.sidebar-user-picture {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {}

/* Sidebar - Fim
/* ******************************************** */


/* Page - Início
/* ******************************************** */

  .page {
    width: 100%;
    min-height: 100vh;
  }

  .page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }

  .page-wrapper.center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .page-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 30px 20px 20px 20px;
    width: calc(100% - 40px);
  }

  .page-header-lr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 20px 20px 20px;
    width: calc(100% - 40px);
  }

  .page-tie {
    margin: 0;
    margin-top: 20px;
    margin-left: 2px;
    color: #787878;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  .page-title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #464646;
    font-size: 36px;
    font-weight: 600;
  }

  .page-subtitle {
    margin: 0;
    margin-bottom: 20px;
    color: #787878;
    font-size: 18px;
    font-weight: 400;
  }

  .page-content {
    padding-bottom: 40px;
    width: 100%;
  }

  .page-content-wrapper {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .page-content-form-wrapper .btn {
    margin-top: 40px;
  }

  .page-content-container {
    display: block;
    position: relative;
  }

  .page-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

/* Page - Fim
/* ******************************************** */


/* Form - Início
/* ******************************************** */

/* Form - Fim
/* ******************************************** */

/* Pagination - Fim
/* ******************************************** */

.pagination-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 0;
}

.pagination .btn {
  width: 30px;
}

.pagination .btn:not(:last-child) {
  margin-right: 10px;
}

.pagination .btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  color: #464646;
}

.pagination-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #464646;
}

.pagination-input input {
  padding: 0;
  margin: 0;
  border: 1px solid rgb(209, 209, 214);
  border-radius: 4px;
  margin-left: 10px;
  font-size: 13px;
  text-align: center;
  color: #464646;
}

.pagination-input select {
  margin-left: 10px;
  color: #464646;
}


/* Pagination - Fim
/* ******************************************** */


/* Form Section - Início
/* ******************************************** */

  .form-section:not(:nth-last-child(2)) {
    margin-bottom: 40px;
  }

  .form-section-title {
    color: #464646;
  }

  .form-new-item {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-width: 500px;
    padding: 5px 25px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(225, 225, 234);
    color: #747474;
    line-height: 24px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: 400;
    outline: none;
  }

  .form-new-item:focus,
  .form-new-item:hover {
    border-color: rgb(179, 179, 179);
  }

  .form-new-item .icon {
    height: 12px;
    margin-right: 14px;
  }

  .form-new-item .icon svg * {
    fill: #747474;
  }

  .form-section-content {
    display: block;
  }

  .form-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 500px;
    padding: 5px 25px;
    width: calc(100% - 50px);
    height: calc(50px - 10px);
    margin-top: 10px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(209, 209, 214);
  }

  .form-item-name {
    color: #797979;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
  }

  .form-item .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .form-item .action {
    display: block;
    padding: 5px;
    height: 15px;
    margin: 0;
    border: none;
    background-color: transparent;
    box-sizing: content-box;
  }

  .form-item .action:not(:nth-last-child(1)) {
    margin-right: 6px;
  }

  .form-item .action:hover svg * {
    fill: rgba(0, 0, 0, 0.5);
  }

  .form-item .action svg * {
    fill: rgba(0, 0, 0, 0.3);
  }

  .no-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
  }

  .no-items .icon {
    height: 150px;
  }

  .no-items .icon svg * {
    fill: #797979;
  }

  .no-items p {
    margin-top: 40px;
    color: #797979;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

/* Form Section - Fim
/* ******************************************** */


/* Suggestions - Início
/* ******************************************** */

  .suggestions {
    position: absolute;
    left: 0;
    top: 60px;
    padding: 0;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 1;
  }

  .suggestions .spinner {
    display: none;
    margin: 20px auto;
  }

  .suggestions.is-loading .spinner {
    display: block;
  }

  .suggestions li {
    cursor: pointer;
    padding: 5px 10px;
  }

  .suggestions .selected,
  .suggestions li:hover {
    background-color: rgba(218,224,255, 0.2);
  }

  .suggestions .bold {
    font-weight: 900;
  }

/* Suggestions - Fim
/* ******************************************** */


/* CTable - Início
/* ******************************************** */

  .ctable-salario .ctable-row:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .ctable-salario .ctable-col {
    padding: 5px 10px;
  }

  .ctable-salario .ctable-header .ctable-col {
    padding: 10px;
    height: 38px;
  }

  .ctable-salario .ctable-col:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }

/* CTable - Fim
/* ******************************************** */

/* Config Panel - Início
/* ******************************************** */

.config-main-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
}

.config-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  width: 200px;
  margin: 0;
  list-style-type: none;
  flex-shrink: 0;
}

.config-menu li {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 12px 10px;
  border-radius: 4px;
  width: calc(100% - 20px);
  color: #464646;
  font-size: 16px;
}

.config-menu li:hover {
  background-color: rgb(229, 229, 234);
}

.config-menu li.active {
  background-color: rgb(229, 229, 234);
  font-weight: 600;
}

.config-menu li::after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  bottom: 0;
  width: calc(100% - 8px);
  height: 1px;
  background-color: rgb(209, 209, 214);
}

.config-panel-container::before {
  content: '';
  display: block;
  position: absolute;
  left: -12px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(209, 209, 214, 0.75);
}

.config-panel-container {
  display: block;
  position: relative;
  width: 500px;
  margin-left: 20px;
}

.config-panel-container .empty {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: #898989;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.config-panel {
  display: block;
  position: relative;
  width: 100%;
}

.config-panel-list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.config-panel .new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 20px;
  width: calc(100% - 40px);
  height: auto;
  border-radius: 8px;
  border: 1px solid #898989;
  background-color: rgb(242, 242, 246);
  color: #464646;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  line-height: 22px;
  box-sizing: content-box;
  outline: none;
}

.config-panel .new-item:focus,
.config-panel .new-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.config-panel .new-item .icon {
  height: 15px;
  margin-top: -1px;
  margin-right: 14px;
}

.config-panel .new-item .icon svg * {
  fill: #464646;
}

.config-panel-section {
  display: block;
  position: relative;
}

.config-panel-section-title::before {
  content: '';
  display: none;
  position: absolute;
  top: 2px;
  left: -18px;
  width: 4px;
  height: 14px;
  background-color: rgba(99, 99, 102, 0.7);

}

.config-panel-section-title {
  display: block;
  position: relative;
  margin-left: 5px;
  margin-bottom: 10px;
  color: rgb(99, 99, 102);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Config Panel - Fim
/* ******************************************** */


/* List - Início
/* ******************************************** */

.list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.list-one .list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 10px;
  width: calc(100% - 20px);
  text-decoration: none;
}

.list-one .list-item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(209, 209, 214);
}

.list-one .list-item-left,
.list-one .list-item-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.list-one .list-item-left {
  justify-content: flex-start;
}

.list-one .list-item-right {
  justify-content: flex-end;
}

.list-one .list-item-name {
  color: #464646;
}

.list-one .btn:not(:last-child) {
  margin-right: 5px;
}

.list-two .list-item {
  padding: 0.65rem 0;
  font-size: 1.25rem;
  text-align: center;
}

/* List - Fim
/* ******************************************** */


/* Accordion - Início
/* ******************************************** */

.accordion {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.accordion-item {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.accordion-item:hover {
  text-decoration: none;
}

.accordion-item:hover .accordion-item-header {
  background-color: rgb(229, 229, 234);
}

.accordion-item-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 55px;
  user-select: none;
  box-sizing: content-box;
  flex-shrink: 0;
}

.accordion-item-header .left,
.accordion-item-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.accordion-item-header .left {
  justify-content: flex-start;
}

.accordion-item-header .right {
  justify-content: flex-end;
}

.accordion-item-header .arrow {
  height: 15px;
}

.accordion-item-header .arrow svg * {
  fill: #000;
}

.accordion-item-header .icon {
  height: 60px;
  margin-right: 25px;
}

.accordion-item-header .icon svg {
  max-width: 50px;
}

.accordion-item-header .icon svg * {
  fill: #000;
}

.accordion-item-title {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.accordion-item-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 0 15px 0;
  width: 100%;
}

.accordion-item-content a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}

.accordion-item-content a:hover {
  background-color: rgb(229, 229, 234);
  text-decoration: none;
}

/* Accordion - Fim
/* ******************************************** */