/* Data Widget Grid - Início
/* ******************************************** */

.data-widget-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.data-widget-grid-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-shrink: 0;
}

.data-widget-grid-row .data-widget-grid-col:not(:last-child) {
  margin-right: 10px;
}

.data-widget-grid-row .data-widget.full {
  width: 100%;
}

.data-widget-grid-row .data-widget.sp1 {}

.data-widget-grid-row .data-widget.sp2 {}

.data-widget-grid-row .data-widget.sp3 {}

.data-widget-grid-col {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.data-widget-grid-col.sp1 {
  width: 45%;
}

.data-widget-grid-col.sp2 {
  width: 66%;
}

.data-widget-grid-col.sp3 {
  width: 33%;
}

.data-widget-grid-col .data-widget:not(:last-child) {
  margin-bottom: 10px;
}

.data-widget-grid-col .data-widget-grid-row:not(:last-child) {
  margin-bottom: 10px;
}

/* Data Widget Grid - Fim
/* ******************************************** */


/* Data Field - Início
/* ******************************************** */

.data-fields {
  display: block;
  position: relative;
}

.data-fields-one .data-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10px;
  height: 50px;
}

.data-fields-one .data-field:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: calc(100% - 20px);
  height: 1px;
  background-color: rgb(242, 242, 247);
}

.data-fields-one .data-field-name {
  color: #464646;
  font-size: 16px;
  font-weight: 300;
}

.data-fields-one .data-field-value {
  color: #343434;
  font-size: 16px;
}

.data-fields-two .data-field:not(:last-child) {
  margin-bottom: 14px;
}

.data-fields-two .data-field {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.data-fields-two .data-field-name {
  margin-bottom: 4px;
  color: #464646;
  font-size: 14px;
  font-weight: 400;
}

.data-fields-two .data-field-value {
  color: #343434;
  font-size: 16px;
}

/* Data Field - Fim
/* ******************************************** */


/* Data Table - Início
/* ******************************************** */

.data-table-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: transparent;
}

.data-table {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid rgb(224, 224, 235);
}

.data-table-header {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid rgb(224, 224, 235);
}

.data-table-header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 100%;
}

.data-table-header-col {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: 100%;
  color: #464646;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}

.data-table-content {
  display: block;
  position: relative;
  width: 100%;
}

.data-table-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 50px;
  transition: background-color 100ms ease;
}

.data-table-row:hover {
  text-decoration: none;
}

.data-table-row.has-hover {
  cursor: pointer;
}

.data-table-row.has-hover:hover {
  background-color: rgb(242, 242, 247);
  text-decoration: none;
}

.data-table-row:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  bottom: 0;
  width: calc(100% - 40px);
  height: 1px;
  background-color: rgb(229, 229, 234);
}

.data-table-cell-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.data-table-cell {
  display: block;
  position: relative;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Data Table - Fim
/* ******************************************** */


/* Data Actions - Início
/* ******************************************** */

.data-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 20px;
}

.data-actions.no-margin {
  margin-right: 0;
}

.data-action {
  cursor: pointer;
  padding: 2px 6px;
  height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
}

.data-action:not(:last-child) {
  margin-right: 6px;
}

.data-action svg * {
  fill: rgb(58, 58, 60);
}

.data-action:hover {
  transform: scale(1.1);
}

/* Data Actions - Fim
/* ******************************************** */


/* Data Widget - Início
/* ******************************************** */

.data-widget {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgb(236, 236, 241);
}

.data-widget.full {
  width: 100%;
}

.data-widget.sp1 {
  width: 30%;
}

.data-widget.sp2 {
  width: 50%;
}

.data-widget.sp3 {
  width: 70%;
}

.data-widget.w3 {
  width: 300px;
}

.data-widget.w3-q1 {
  width: 325px;
}

.data-widget.w3-q2 {
  width: 350px;
}

.data-widget.w3-q3 {
  width: 375px;
}

.data-widget.w4 {
  width: 400px;
}

.data-widget.w4-q1 {
  width: 425px;
}

.data-widget.w4-q2 {
  width: 450px;
}

.data-widget.w4-q3 {
  width: 475px;
}

.data-widget.w5 {
  width: 500px;
}

.data-widget.w5-q1 {
  width: 525px;
}

.data-widget.w5-q2 {
  width: 550px;
}

.data-widget.w5-q3 {
  width: 575px;
}

.data-widget.w6  {
  width: 600px;
}

.data-widget.w7  {
  width: 700px;
}

.data-widget.w8  {
  width: 800px;
}

/* Data Widget - Fim
/* ******************************************** */


/* Data Widget One - Início
/* ******************************************** */

.data-widget-one .data-widget-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 50px;
  border-bottom: 1px solid rgb(242, 242, 247);
  color: #464646;
  font-weight: 600;
}

.data-widget-one .data-widget-content {
  display: block;
  position: relative;
  padding: 15px 15px;
  width: calc(100% - 30px);
}

/* Data Widget One - Fim
/* ******************************************** */


/* Data Widget Two - Início
/* ******************************************** */

.data-widget-two .data-widget {
  display: block;
  margin-bottom: 4px;
}

.data-widget-two .data-widget-head {
  display: block;
  position: relative;
  width: 100%;
}

.data-widget-two .data-widget-head .data-widget-row {
  align-items: flex-end;
  padding-bottom: 5px;
  min-height: 25px;
  height: 100%;
  border-bottom: 1px solid rgb(242, 242, 247);
}

.data-widget-two .data-widget-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
  height: 50px;
}

.data-widget-two .data-widget-header-left,
.data-widget-two .data-widget-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.data-widget-two .data-widget-header-left {
  justify-content: flex-start;
  margin-left: 20px;
}

.data-widget-two .data-widget-header-right {
  justify-content: flex-end;
  margin-right: 20px;
}

.data-widget-two .data-widget-title {
  position: relative;
  color: #464646;
  font-size: 16px;
  font-weight: 600;
}

.data-widget-two .data-widget-content {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
}

.data-widget-two .data-widget-content.no-pad {
  padding: 0;
}

.data-widget-two .data-widget-content.no-pad-lr {
  padding-left: 0;
  padding-right: 0;
}

.data-widget-two .data-widget-empty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
  width: 100%;
  height: 50px;
}

.data-widget-two .data-widget-empty span {
  color: rgb(99, 99, 102);
  font-size: 16px;
  font-weight: 400;
}

/* Data Widget Two - Fim
/* ******************************************** */


/* Data Widget Row - Início
/* ******************************************** */

.data-widget-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 45px;
}

.data-widget-row:hover {
  text-decoration: none;
}

.data-widget-row.has-hover {
  cursor: pointer;
}

.data-widget-row.has-hover:hover {
  background-color: rgb(242, 242, 247);
  text-decoration: none;
}

.data-widget-row-left,
.data-widget-row-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: 100%;
}

.data-widget-row-left {
  justify-content: flex-start;
}

.data-widget-row-right {
  justify-content: flex-end;
}

/* Data Widget Row - Fim
/* ******************************************** */


/* Data Widget Column - Início
/* ******************************************** */

.data-widget-col {
  display: block;
  position: relative;
  height: 100%;
  color: rgb(99, 99, 102);
  font-size: 14px;
  font-weight: 600;
}

.data-widget-col:not(:last-child) {
  margin-left: 20px;
}

.data-widget-col:first-child {
  margin-left: 20px;
}

/* Data Widget Column - Fim
/* ******************************************** */


/* Data Widget Cell - Início
/* ******************************************** */

.data-widget-cell-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.data-widget-cell {
  display: block;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-widget-cell-wrapper:not(:last-child) {
  margin-left: 20px;
}

.data-widget-cell-wrapper:first-child {
  margin-left: 20px;
}

/* Data Widget Cell - Fim
/* ******************************************** */




