
/* Page Login - Início
/* ******************************************** */

.page-login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Page Login - Fim
/* ******************************************** */

.overlay-orange-1 {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgb(254,171,74);
  background: linear-gradient(160deg, rgba(254,171,74,0.08727240896358546) 0%, rgba(252,135,43,1) 77%, rgba(251,124,34,1) 100%);

  background-blend-mode: screen;
  opacity: 0.6;
}

/* Loginbox - Início
/* ******************************************** */

.loginbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 40px;
  width: calc(350px - 80px);
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
}

.loginbox-extended {
  width: calc(550px - 80px);
}

.loginbox-extended-2 {
  width: calc(750px - 80px);
}

.loginbox-title {
  margin: 0;
  margin-bottom: 50px;
  color: rgb(44, 44, 46);
  font-size: 42px;
  font-weight: 900;
  letter-spacing: -1px;
  text-align: center;
}

.loginbox-extended-2 .loginbox-title {
  margin-bottom: 20px;
}

.loginbox-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.loginbox form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.loginbox .inputs {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.loginbox .input {
  width: 100%;
}

.loginbox label {
  display: none;
}

.loginbox input {
  padding: 14px;
  width: calc(100% - 28px);
  border-radius: 5px;
  border: 1px solid rgb(239, 239, 244);
  color: rgb(44, 44, 46);
  background-color: rgb(242, 242, 247);
  font-size: 16px;
  transition: all 160ms ease-in-out;
  outline: none;
}

.loginbox select {
  padding: 14px;
  width: calc(100% - 28px);
  border-radius: 5px;
  border: none;
  background-color: #141417;
  color: rgb(157, 157, 161);
  font-size: 16px;
  transition: all 160ms ease-in-out;
  box-sizing: content-box;
}

.loginbox option {}

.loginbox input:hover {
  background-color: rgb(233, 233, 238);
}

.loginbox select:focus,
.loginbox input:focus {
  background-color: rgb(229, 229, 234);
}

.loginbox ::placeholder {
  color: rgb(157, 157, 161);
  font-size: 16px;
}

.loginbox-links {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.loginbox-links a {
  padding: 4px 0;
  color: #464646;
  font-size: 14px;
  text-decoration: none;
}

.loginbox-links a:hover {
  text-decoration: underline;
}

.loginbox-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.loginbox-buttons .btn:not(:last-child) {
  margin-right: 20px;
}

.btn-login {
  padding: 12px 20px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #F9992A;
  border: 1px solid #fb9023;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 160ms ease-in-out;
  outline: none;
}

.btn-login:focus,
.btn-login:hover {
  background-color: #FB7C22;
}

.btn-login-2 {
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 4px;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 14px;
  font-weight: 500;
  transition: all 160ms ease-in-out;
  text-transform: none;
}

.btn-login-2:hover {
  text-decoration: underline;
}

.btn-login-3 {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 22px;
  font-weight: 500;
  transition: all 160ms ease-in-out;
  text-transform: none;
}

.btn-login-3:hover {
  text-decoration: underline;
}

/* Loginbox - Fim
/* ******************************************** */
