.inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.inputs .input:not(:nth-last-child(1)) {
  margin-bottom: 16px;
}

.inputs.inline {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.inputs.inline > .input:not(:nth-last-child(1)) {
  margin-right: 16px;
  margin-bottom: 0;
}

.inputs.no-margin .input {
  margin-bottom: 0;
}

.input-container {
  position: relative;
  width: 100%;
}

.input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.input input,
.input textarea,
.input select {
  width: 100%;
}

.input.w06 {
  width: 60px;
}

.input.w1 {
  width: 100px;
}

.input.w1-q1 {
  width: 125px;
}

.input.w1-q2 {
  width: 150px;
}

.input.w1-q3 {
  width: 175px;
}

.input.w2 {
  width: 200px;
}

.input.w2-q1 {
  width: 225px;
}

.input.w2-q2 {
  width: 250px;
}

.input.w2-q3 {
  width: 275px;
}

.input.w3 {
  width: 300px;
}

.input.w3-q1 {
  width: 325px;
}

.input.w3-q2 {
  width: 350px;
}

.input.w3-q3 {
  width: 375px;
}

.input.w4 {
  width: 400px;
}

.input.w4-q1 {
  width: 425px;
}

.input.w4-q2 {
  width: 450px;
}

.input.w4-q3 {
  width: 475px;
}

.input.w5 {
  width: 500px;
}

.input.w5-q1 {
  width: 525px;
}

.input.w5-q2 {
  width: 550px;
}

.input.w5-q3 {
  width: 575px;
}

/* Multi Input - Início
/* ******************************************** */

.multi-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.multi-input .input {
  margin: 0 20px 20px 0;
}

/* Multi Input - Fim
/* ******************************************** */


/* Input TinyMCE - Início
/* ******************************************** */

.input.input-tinymce {
  width: 100%;
  max-width: 800px;
}

.input.input-tinymce label {
  margin-bottom: 10px;
}

/* Input TinyMCE - Fim
/* ******************************************** */


/* Input Currency - Início
/* ******************************************** */

  .input-currency > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .input-currency .input-container {
    margin-left: 5px;
  }

/* Input Currency - Fim
/* ******************************************** */



/* Input Style 1 - Início
/* ******************************************** */

.input-style-1 label {
  display: none;
}

.input-style-1 input {
  display: block;
  padding: 14px;
  width: calc(100% - 28px);
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgb(229, 229, 234);
  font-size: 16px;
  outline: none;
}

.input-style-1 input:focus {
  border-color: rgb(209, 209, 214);
}

/* Input Style 1 - Fim
/* ******************************************** */



/* Input Style 2 - Início
/* ******************************************** */

.input-style-2 label {
  margin-left: 2px;
  color: #464646;
  font-size: 16px;
}

.input-style-2 .blue {
  color: rgb(38, 132, 255);
}

.input-style-2 .orange {
  color: #e8891b;
}

.input-style-2 .input-container {
  min-height: 38px;
}

.input-style-2 .input-container input {
  padding: 0 8px;
  width: calc(100% - 16px);
  height: 36px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid rgb(225, 225, 234);
  outline: none;
  transition: all 100ms ease;
}

.input-style-2 .input-container input:hover {
  border-color: rgb(179, 179, 179);
}

.input-style-2 .input-container input:focus {
  height: 34px;
  border: 2px solid rgb(38, 132, 255);
}

.input-style-2 .input-container textarea {
  padding: 8px;
  width: calc(100% - 16px);
  min-height: 70px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid rgb(225, 225, 234);
  outline: none;
  transition: all 100ms ease;
}

/* Input Style 2 - Fim
/* ******************************************** */